@import url('http://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* Standard/Heading */
html{
	background-color: white;
}

body{
	background-color: white;
	color: #4D4E4E;
}

.page-container {
	margin-left: 26px;
	margin-right: 26px;
	width: auto;
}

.restaurant-name {
	color: #000000;	
	font-family: Helvetica, sans-serif;	
	font-size: 20px;	
	font-weight: bold;	
	line-height: 24px;
	margin-top: 26px;
}

.input-label {
	color: #000000;	
	font-family: Helvetica, sans-serif;	
	font-size: 16px;	
	font-weight: bold;	
	line-height: 19px;
	margin-top: 26px;
}

.input-box {	
	height: 42px;	
	font-size: 24px;	
	width: 100%;	
	border: 1px solid #979797;	
	background-color: #F9F9F9;
	margin-top: 12px;
	padding-left: 6px;
}

.add-button {	
	height: 39px;	
	width: 226px;	
	border-radius: 3px;	
	background-color: #000000;
	margin-top: 58px;
	text-align: center;
	/*padding-top: 20px;*/

}

.add-button-text {
	color: #FFFFFF;	
	font-family: Helvetica;	
	font-size: 16px;	
	padding-top: 10px;
}

